<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container">
  <a class="navbar-brand" [routerLink]="['/home']">SocialSite</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="nav navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/feed']" routerLinkActive="active">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="active">Messages</a>
      </li>
    </ul>

    <form #loginForm="ngForm" *ngIf="!loggedIn()"
          (ngSubmit) = 'login()'
          class="form-inline my-2 my-lg-0 nav navbar-nav ml-auto">
      <input class="form-control mr-sm-2"
             type="text"
             placeholder="username"
             aria-label="username"
             required
             name="username"
             [(ngModel)]="model.username">
      <input class="form-control mr-sm-2"
             type="password"
             placeholder="password"
             aria-label="password"
             required
             name="password"
             [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
    </form>

    <ul class="nav navbar-nav ml-auto " *ngIf="loggedIn()">
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle>Welcome {{authService.decodedtoken?.unique_name | titlecase}}</a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" ><i class="fa fa-user"></i> Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </li>
    </ul>

  </div>
</div>
</nav>
